:root {
  --background_dark: #404040;
  --background_darker: #353535;
  --background_darkest: #2F2F2F;
  --accent_dark: #657349;
  --accent_darker: #2D6D2D;
  --text: #FFF;
  --header_height: 24px;
}

@font-face {
    font-family: 'UbuntuCondensed'; /*a name to be used later*/
    src: url('../fonts/UbuntuCondensed-Regular.ttf'); /*URL to font*/
}

body {  
  font-family: 'UbuntuCondensed';
  background: var(--background_darker);
  color: var(--text);
  padding: 0;
  margin: 0;
  overflow: none;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

#layouts {
    display: none;
    overflow: none;
}

#header, #footer_left, #footer_right {
  visibility: visible;
  background: var(--background_dark);
  position: absolute;
  height: var(--header_height);
  line-height: var(--header_height);
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  text-align: center;
  font-size: 100%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
  z-index: 2;
}

#header {
  top: 0px;
  right: 0px;
  left: 0px;
}

#footer_left {
  bottom: 0px;
  left: 0px;
} 

#footer_right {
  bottom: 0px;
  right: 0px;
}

#panel {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: var(--header_height);
  bottom: var(--header_height);
  overflow: scroll;
  background: var(--background_darker);
}


#panel_messages {
  padding-left: 2px;
  padding-right: 2px;
}

#panel_messages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#panel_messages ul li { padding-bottom: 6px; }

#panel_messages:after { }

.m_time { padding-right: 4px; }

.m_time:before { content: '['; }
.m_time:after { content: ']'; }

.m_nick {
  font-weight: bold;
  padding-right: 4px;
}

.m_text {

}



#panel_channels, #panel_users, #panel_composer {
  background: #669930;
  position: absolute;
  right: 0px;
  left: 0px;
  top: var(--header_height);
  bottom: 0px;
}

.chat_item:focus{
  background-color: var(--background_dark);
}
